#detail-main-section {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	margin-top: 4rem;
}

.detail-head {
    font-size: 50px;
	font-weight: normal;
	letter-spacing: 1px;
}

.detail-body {
    font-size: 20px;
	font-weight: normal;
	width: 46%;
	margin: 0 auto;
	line-height: 40px;
}

@media only screen and (max-width: 840px){
	.detail-head{
		font-size: 32px;
	}
	.detail-body{
		width: 75%;
		font-size: 18px;
		line-height: 32px;
	}
}

/* mobile responsive */
@media only screen and (max-width : 600px) {
	#detail-main-section{
		margin-top: 1rem;
		padding: 0 22px 0 22px;
	}
	.detail-head {
		font-size: 24px;
		letter-spacing: 0;
	}

	.detail-body {
		font-size: 16px;
		line-height: 22px;
		width: auto;
	}
}
