footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: black;
  margin-top: 50px;
  padding-left: 96px;
  padding-right: 96px;
}
.width-100 {
  width: 100%;
}
footer ul > li {
  color: white;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px auto;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.smallText {
  font-size: 12px;
}
.footerHeading {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.metta-muse{
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}
.letterAndcontact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 30px;
}
.inputsBtn {
  width: 100%;
  margin-top: 50px;
}
.inputsBtn input {
  width: 384px;
  height: 47px;
  padding: 14px 24px;
  gap: 8px;
}
.inputsBtn button {
  width: 184px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-weight: 500;
}
.inputsBtn button:hover {
  cursor: pointer;
}

.newsletter {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.currency {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.inputsBtn {
  display: flex;
  column-gap: 10px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.contactUsdetails{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionsLinksContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 20px;
  gap: 90px;
}
.socialLinksContainer {
  margin-bottom: 50px;
}
.socialAcc,
.payments {
  display: flex;
  column-gap: 10px;
}
.lgsrc {
  display: flex;
  flex-direction: column;
}
.mdsrc {
  display: none;
}
.copyright p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
  text-transform: capitalize;
}
.mt20 {
  margin-top: 20px;
}

/* tablet-responsive */
@media screen and (max-width: 888px) {
  footer{
    padding-left: 32px;
    padding-right: 32px;
  }
  .inputsBtn input {
    width: 250px;
  }
  .inputsBtn button {
    width: 120px;
  }
  .footerHeading {
    font-size: 18px;
  }
  footer ul > li {
    font-size: 14px;
  }
  .payments{
    display:flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 20px;
  }
}

/* mobile-responsive */
@media screen and (max-width: 690px) {
  footer{
    padding-left: 16px;
    padding-right: 16px;
  }
  .lgsrc {
    display: none;
  }
  .mdsrc {
    display: block;
  }
  .footerHeading {
    margin-bottom: 0;
  }
  .footerHeadingCont {
    display: flex;
    justify-content: space-between;
  }
  .letterAndcontact {
    flex-direction: column;
  }
  .quickLinks,
  .followus,
  .contactDetails {
    margin-top: 50px;
  }
  .newsletter,
  .contactUs,
  .mettaMuse,
  .quickLinks,
  .socialLinksContainer {
    padding-bottom: 30px;
    border-bottom: 1px solid white;
  }
  .actionsLinksContainer {
    flex-direction: column;
    gap: 20px;
  }
  .inputsBtn input {
    width: 384px;
  }
  .inputsBtn button {
    width: 184px;
  }
  .payments {
    padding-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 10px;
  }
  .socialAcc img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 530px) {
  .inputsBtn input {
    width: auto;
    min-width: 100px;
  }
  .inputsBtn button {
    width: 180px;
  }
  .inputsBtn button {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  .diamond{
    font-size: 14px;
    color: white;
  }
  .contactUsdetails{
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-top: 20px;
  }
}
